{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
    .otree-form-errors {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
<font color="burlywood"><h4 align="right">Tu ID: {{ participant_id }}</h4></font>
Segundo cuestionario {% endblock %}

{% block content %}

<p> En la siguiente imagen usted podrá observar dos situaciones; luego,
    deberá responder ambas preguntas. </p>

        <img src="{% static 'Biases2.png' %}" width="800px"/>
        <br>
        {% formfields %}

<button class="otree-btn-next btn btn-primary">Siguiente</button>

    {% include Constants.instructions_button %}
<br>
<br>
    <p>
    {% include Constants.contact_template %}
    </p>

{% endblock %}