{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
    .otree-form-errors {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
<font color="burlywood"><h4 align="right">Tu ID: {{ participant_id }}</h4></font>
Tercer cuestionario {% endblock %}
{% block content %}

<p> Para esta parte, considere que tiene una dotación de <b>100 soles por cada fila</b> y que <b>la fecha actual</b>,
    marcada con un círculo rojo en el calendario de la izquierda, <b>es el 7 de enero</b>.

    <li> Existen <b>2 opciones de inversión</b> (inversión A e inversión B), cada una <b>con fecha y probabilidad de retorno distinta</b>.
<li> En base a lo anterior, usted deberá <b>completar cada fila con el monto que asignaría a la Inversión A</b>.
    Recuerde que cada fila completa 100 soles: <b>B= 100-A</b>.</p>
<br>

        <img src="{% static 'Biases3.png' %}" width="950px"/>
        <br><br>
        {% formfields %}

<button class="otree-btn-next btn btn-primary">Siguiente</button>

    {% include Constants.instructions_button %}
<br>
<br>
    <p>
    {% include Constants.contact_template %}
    </p>

{% endblock %}