{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
<font color="burlywood"><h4 align="right">Tu ID: {{ participant_id }}</h4></font>
PARTE IV
{% endblock %}
{% block content %}

A continuación, usted responderá preguntas sobre sus <b>preferencias intertemporales</b>.
<br><br>

<li><b>Primero</b>, tendrá que <b> elegir los valores que lo hagan indiferente entre 2 alternativas</b>.
<li><b>Luego</b>, deberá <b>distribuir una dotación inicial entre 2 opciones</b> que serán descritas en un cuestionario.
<br>
<br>
<button class="otree-btn-next btn btn-primary">Empezar la PARTE IV</button>
            {% include Constants.instructions_button %}
<br>
<br>
{% include Constants.contact_template %} {% endblock %}